label[for="toggle"] {
    position: absolute;
    top: 25px;
    color: #2E2E2E;
    z-index: 6;
    font-size: 2rem;
    left: 12px;
}

.hover-menu {
    display: none;

}

.navigation--responsive {
    display: none;
}

#toggle {
    display: none;
}

svg.hamburger {
    display: none;
}

@media (max-width: 1104px) and (min-width: 720px) {
    label[for="toggle"] {
        color: #FFFFFF;
    }

    .hover-menu {
        display: block;
        position: relative;
        top: -35px;
        left: 35px;
    }

    .main-navigation {
        display: none;
    }

    .mini-nav-menu {
        display: flex;
        margin-top: 85px;
        padding-left: 20px;
    }

    .mini-nav-items:hover {
        color: #F2F2F2;
    }

    svg.hamburger {
        display: block;
    }

    .navigation--responsive {
        display: flex;
        flex-wrap: wrap;
        background-color: #2E2E2E;
        color: #FFFFFF;
        width: 300px;
        position: absolute;
        height: 80vh;
        top: -100vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        transition: top 1s;
    }

    .hover-menu {
        color: #FFFFFF;
    }

    .navigation--responsive ul {
        display: block;
        list-style: none;
        /* height: 70vh; */
        /* display: flex; */
        flex-direction: column;
        /*  align-items: flex-start; */
        /*  justify-content: space-around; */

    }

    .navigation--responsive div {
        display: block;
        list-style: none;
        /* height: 70vh; */
        /* display: flex; */
        flex-direction: column;
        /*  align-items: flex-start; */
        /*  justify-content: space-around; */

    }

    .nav-top-menu {
        margin-top: -85px;
        padding-left: 0px;
    }

    .nav-item {
        color: #F2F2F2;
    }

    .navigation--responsive div li {
        margin: 0;
        padding: 0;
    }

    .navigation--responsive li a {
        text-decoration: none;
        color: #F2F2F2;
    }

    .navigation--responsive div a {
        text-decoration: none;
        color: #F2F2F2;
    }


    #toggle:checked~.navigation--responsive {
        top: 0vh;
    }

    .nav-bar {
        display: none;
    }

    .customer-login li,
    .mini-nav li,
    form input {
        display: none;
    }


    .grey-container,
    .outer-container {
        height: 80px;
    }

    .logo {
        margin-top: -15px;
        margin-bottom: -50px;
        height: 100px;
        width: 20%;
    }

    .logo img {
        width: 80px;
        height: 40px;
    }

    .shonen-jump-container img,
    .shonen-jump-container {
        width: 850px;
        margin: 0;
        position: relative;
        left: -49px;
    }

    body .main-info {
        width: 100%;
    }

    .chapters-grid {
        display: flex;
        flex-shrink: 1;
    }

    .pos-overflow-hide-img {
        border: 0;
        max-width: 100%;
    }

    .section-see-all {
        position: relative !important;
        left: 89% !important;
    }

}

@media (max-width: 720px) {
    label[for="toggle"] {
        color: #FFFFFF;
    }

    .hover-menu {
        display: block;
        position: relative;
        top: -35px;
        left: 35px;
    }

    .main-navigation {
        display: none;
    }

    .mini-nav-menu {
        display: flex;
        margin-top: 85px;
        padding-left: 20px;
    }

    .mini-nav-items:hover {
        color: #F2F2F2;
    }

    svg.hamburger {
        display: block;
    }

    .navigation--responsive {
        display: flex;
        flex-wrap: wrap;
        background-color: #2E2E2E;
        color: #FFFFFF;
        width: 300px;
        position: absolute;
        height: 80vh;
        top: -100vh;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        transition: top 1s;
    }

    .hover-menu {
        color: #FFFFFF;
    }

    .navigation--responsive ul {
        display: block;
        list-style: none;
        /* height: 70vh; */
        /* display: flex; */
        flex-direction: column;
        /*  align-items: flex-start; */
        /*  justify-content: space-around; */

    }

    .nav-top-menu {
        margin-top: -85px;
        padding-left: 0px;
    }

    .nav-item {
        color: #F2F2F2;
    }

    .navigation--responsive div li {
        margin: 0;
        padding: 0;
    }

    .navigation--responsive li a {
        text-decoration: none;
        color: #F2F2F2;
    }

    .navigation--responsive div a {
        text-decoration: none;
        color: #F2F2F2;
    }


    #toggle:checked~.navigation--responsive {
        top: 0vh;
    }

    .nav-bar {
        display: none;
    }

    .customer-login li,
    .mini-nav li,
    form input {
        display: none;
    }


    .grey-container,
    .outer-container {
        height: 80px;
    }

    .logo {
        margin-top: -15px;
        margin-bottom: -50px;
        height: 100px;
        width: 20%;
    }

    .logo img {
        width: 80px;
        height: 40px;
    }

    .shonen-jump-container img,
    .shonen-jump-container {
        width: 850px;
        margin: 0;
        position: relative;
        left: -49px;
    }

    body .main-info {
        width: 100%;
    }

    .chapters-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .manga-container {
        display: flex;
        flex-wrap: wrap;
    }

    .manga {
        width: 47.3624454148% !important;
    }

    .manga-title {
        font-size: 20px !important;
    }

    .latest-chapter-number {
        font-size: 16px !important;
    }

    .chapter-release-date {
        font-size: 12px !important;
    }

    #section-title {
        font-size: 28px !important;
    }

    .section-tagline {
        font-size: 20px !important;
    }

    #whats-hot-this-week {
        font-size: 20px !important;
    }

    .section-title {
        font-size: 20px !important;
    }

    .section-see-all {
        position: relative !important;
        top: 870px !important;
        bottom: 0px !important;
        left: 0px !important;
    }

    .see-all-link {
        font-weight: 700 !important;
    }
}





body {
    margin: 0px;
    background-color: #444;
    background-image: url('https://de7i3bh7bgh0d.cloudfront.net/wsj-bg-smoketile.jpg');
    font-family: "Avenir Next", sans-serif;
}

li {
    list-style: none;
}

.nav-bar {
    margin: auto;
    background-color: #2E2E2E;
}

.nav-top {
    background-color: #2E2E2E;
    display: flex;
    padding-left: 46px;
}

.nav-list {
    list-style: none;
    padding-bottom: 8px;
    padding-top: 9px;
}

.nav-item {
    color: #D8D8D8;
    text-decoration: none;
    font-family: 'Avenir Next', sans-serif;
    padding-left: 18px;
    font-weight: 500;

}

.nav-item:hover {
    color: white;
}

#first-nav-item {
    color: #949494;
    cursor: text;
}

.outer-container {
    display: flex;
    justify-content: space-evenly;
}

.grey-container {
    margin: 0px;
    width: 100%;
    height: 110px;
    background-color: #dedede;
    display: flex;
}

.inner-container {
    position: relative;
    right: 1%;
    width: 100%;
}

.mini-nav {
    display: flex;
    align-items: flex-end;
    margin-top: 13px;
    position: relative;
    left: 68px;
    width: 90%;

}

.customer-login {
    display: flex;
    margin-left: 70px;
    height: 50px;
    align-items: flex-end;
    width: 80%;


}

.login-items {
    text-decoration: none;
    font-family: 'Avenir Next', sans-serif;
    color: #2E2E2E;
    margin-right: 15px;
    font-weight: 500;
    font-size: 20px;
}

.login-items:hover {
    color: #FF0000;

}

.mini-nav-items {
    text-decoration: none;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #2E2E2E;
    margin-right: 15px;
}

.mini-nav-items:hover {
    border-bottom: solid 3px #2E2E2E;
    padding-bottom: 3px;
    color: #FF0000;
}


.logo {
    display: flex;
    width: 26%;
    background-color: #FF0000;
    /* position: relative;
    left: 15.3%; */
}

.viz-logo {
    margin-top: 30px;
    margin-left: 70px;
    width: 150px;
    height: 60px;
}

.heart-Svg {
    padding-right: 1px;
    margin-bottom: -5px;
    width: 25px;
}

.cart-Svg {
    padding-right: 2px;
    margin-bottom: -3px;
    width: 20px;
}

#search-input {
    background-color: #F2F2F2;
    padding: 7.5px 15px;
    color: #2E2E2E;
    /* border: 1px solid #949494; */
    border: 1px solid transparent;
    margin: 0;
    color: #2E2E2E;
    font-family: "Avenir Next", sans-serif;
    width: 260px;
}

.search-container {
    position: relative;
    left: 30%;
}

input[type="search"]::placeholder {
    color: #949494;
    font-family: "Avenir Next", sans-serif;
    font-weight: 500;
    opacity: 0.9;
}


form {
    display: flex;
    /* border: 1px solid #2E2E2E; */
    border-radius: 5px;

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    border: 0px solid transparent;
    background: transparent no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
    opacity: 0.8;
    width: 25px;
    padding: 0px;
    margin-top: 5px;
    margin-left: -40px;
}


button [type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 2px 0 #1183d6;
    outline: none;
}

.big-main-img {
    display: block;
    width: 100%;
    height: auto;
    background-color: #949494;
}

.black-container {
    background-color: #2E2E2E;
    text-align: center;
    padding: 12px 0px;
}

.black-container-p {
    margin: 0;
    color: #F2F2F2;
    font-family: "Avenir Next", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}

.black-container-p:hover {
    color: #FF0000;
    text-decoration: underline;
    transition: 0.3s;
}

.main-info {
    width: 95%;
    margin: auto;
    overflow: hidden;
    background-color: #F2F2F2;
}

.sj-intro {
    overflow: hidden;
    background-color: #F2F2F2;
    /* width: 95%;
    margin: auto; */
}

.manga-chapter {
    /* padding: 0px 30px;*/
    padding: 0 2.1834061135%;
    margin: 15px 0px;
    /* max-width: 85.875rem;*/
    margin-left: auto;
    margin-right: -22px;
}

.shonen-jump-container {
    margin: 0px 90px;
}

.shonen-jump-outer-container {
    padding: 60px 30px;
    margin: 0px 15px;
}

.big-shonen-jump {
    border: 0;
    width: 109%;
    height: 159.891px;
}

.latest-free-chapters-title {
    margin: 15px 0px 30px 0px;
    position: relative;
    right: 30px;
}

#section-title {
    margin: 10px 0px;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 1;
}

.section-title {
    line-height: 1;
    font-size: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 0px 28px;
    position: relative;
    right: 30px;
}

#whats-hot-this-week {
    line-height: 1;
    font-size: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
    right: 30px;
}

.section-tagline {
    line-height: 1.1;
    margin: 0px 60px 15px 0px;
    font-family: "Avenir Next", sans-serif;
    font-weight: 500;
    font-size: 38.2px;
}

.section-tagline a {
    color: #FF0000;
    text-decoration: none;
}

#section-see-all {
    left: 1185px;
    font-size: 20px;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    margin-top: -40px;
    display: block;
    position: relative;
}

.section-see-all {
    font-size: 20px;
    position: relative;
    right: 0;
    bottom: 30px;
    left: 92.5%;
    display: block;
}

.see-all-link {
    color: #2E2E2E;
    transition-duration: 0.2s;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

.see-all-link:hover {
    color: #FF0000;
    transition-duration: 0.1s;
}

.chapter-rows {
    padding: 0px 30px;
    margin: 15px 0px;
    max-width: 85.875rem;
    margin-left: auto;
    margin-right: auto;
}

.chapters-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manga {
    margin-right: 2.1834061135%;
    width: 22.3624454148%;
    background-color: #2E2E2E;
    margin-bottom: 30px;
    position: relative;
    /* left: 30px; */
    float: left;
}

.manga:hover {
    background-color: #FF0000;
    transition-duration: 0.1s;
}

.manga-main-page-link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Avenir Next", sans-serif;
    font-weight: 600;
}

.manga-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*.choujin-overflow-hide*/
.pos-overflow-hide {
    overflow: hidden;
    position: relative;
}

/*.choujin-overflow-hide*/
.pos-overflow-hide img {
    border: 0;
    max-width: 100%;
    /* width: 320.7px; */
    /*height: 245.578px; */
}

.manga-title {
    line-height: 1;
    font-size: 28px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.chapter-details {
    line-height: 1;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
}

.chapter-details:hover {
    background-color: rgba(59, 59, 59, 0.56);

}

.latest-chapter-number {
    line-height: 1;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
}

.chapter-release-date {
    line-height: 1;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
}

.section-two-title-container {
    padding: 25px;
    padding-bottom: 15px;
}

.section-four-title-container {
    padding-top: 25px;
    padding-bottom: 0px;
}

.section-six-title-container {
    padding-top: 25px;
    padding-bottom: 0px;
}

.whats-hot-this-week {
    background-image: url('https://dw9to29mmj727.cloudfront.net/sections/2016/82897-82179_13875_READ_header_2000x800_options_colours_grey30.png');
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    padding: 0 2.1834061135%;
    display: block;
    margin-right: -22px;
}

.row-pos-two {
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 0 2.1834061135%; */
    /* max-width: 85.875rem; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.jump-into-a-new-series {
    background-color: #F2F2F2;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 2.1834061135%;
    margin-right: -22px;
}

#font-size {
    font-size: 27.5px;
}

.latest-anime-tie-ins {
    background-image: url('https://dw9to29mmj727.cloudfront.net/sections/2016/82897-82179_13875_READ_header_2000x800_options_colours_grey30.png');
    /*padding-top: 30px;*/
    /* padding-bottom: 30px; */
    padding: 0 2.1834061135%;
    display: block;
    margin-right: -22px;
}

.fan-favorites {
    background-color: #F2F2F2;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 2.1834061135%;
    margin-right: -22px;
}

.new-series-in-the-vault {
    background-image: url('https://dw9to29mmj727.cloudfront.net/sections/2016/82897-82179_13875_READ_header_2000x800_options_colours_grey30.png');
    /*padding-top: 30px;*/
    /* padding-bottom: 30px; */
    padding: 0 2.1834061135%;
    display: block;
    margin-right: -22px;
}